<!doctype html>
<html lang="en" class="no-js">
<head>
<title>MINI SHOP</title>

<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
<script src="js/jquery-1.11.0.min.js"></script>
<!--Custom-Theme-files-->
<!--theme-style-->
<link href="css/style2.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--start-menu-->
<script src="js/simpleCart.min.js"> </script>
<link href="css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>	
<!--dropdown-->
<script src="js/jquery.easydropdown.js"></script>


</head>	
		<!--top-header-->
	<div class="top-header">
	<p  ><h4 style = "color: gold ;">You are very important for us </h4></p>
	</div>
	<!--top-header-->
	<!--start-logo-->
	<div class="logo">
		<a href="index.html"><h1>Luxury Watches</h1></a>
	</div>
	<!--start-logo-->
	<!--bottom-header-->
	<div class="header-bottom">
		<div class="container">
			<div class="header">
				<div class="col-md-9 header-left">
				<div class="top-nav">
					<ul class="memenu skyblue"><li class="active"><a href="index.html">Главная</a></li>
						<li class="grid"><a href="contact.html">Контакты</a>
						<li class="grid"><a href="register.html">Регистрация</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 header-right"> 
				<!-- <div class="search-bar">
					<input type="text" value="Поиск по номеру продукта" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
					<input type="submit" value="">
				</div> -->
			</div>
			<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--bottom-header-->
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="index.html">Главная</a></li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
		<!--prdt-starts-->
		<div class="prdt"> 
		<div class="container">
			<div class="prdt-top">
				<div class="col-md-9 prdt-left">
					<div class="product-one">
						<div class="col-md-4 product-left p-left">
							<div class="product-main simpleCart_shelfItem">
								<img class="img-responsive zoom-img" src="images/p-1.png" alt="" />
								<div class="product-bottom">
									<h3>Smart Watches</h3>
									<!-- <p>Explore Now</p> -->
									<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
							<!-- 	</div>
								<div class="srch srch1">
									<span>-50%</span> -->
								</div>
							</div>
						</div>
						<div class="col-md-4 product-left p-left">
							<div class="product-main simpleCart_shelfItem">
							<img class="img-responsive zoom-img" src="images/p-2.png" alt="" />
								<div class="product-bottom">
									<h3>Smart Watches</h3>
									<!-- <p>Explore Now</p> -->
									<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
								</div>
								<!-- <div class="srch srch1">
									<span>-50%</span>
								</div> -->
							</div>
						</div>
						<div class="col-md-4 product-left p-left">
							<div class="product-main simpleCart_shelfItem">
							<img class="img-responsive zoom-img" src="images/p-3.png" alt="" />
								<div class="product-bottom">
									<h3>Smart Watches</h3>
									<!-- <p>Explore Now</p> -->
									<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
								</div>
								<!-- <div class="srch srch1">
									<span>-50%</span>
								</div> -->
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="product-one">
						<div class="col-md-4 product-left p-left">
							<div class="product-main simpleCart_shelfItem">
								<img class="img-responsive zoom-img" src="images/p-4.png" alt="" />
								<div class="product-bottom">
									<h3>Smart Watches</h3>
									<!-- <p>Explore Now</p> -->
									<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
								</div>
								<!-- <div class="srch srch1">
									<span>-50%</span>
								</div> -->
							</div>
						</div>
						<div class="col-md-4 product-left p-left">
							<div class="product-main simpleCart_shelfItem">
								<img class="img-responsive zoom-img" src="images/p-5.png" alt="" />
								<div class="product-bottom">
									<h3>Smart Watches</h3>
									<!-- <p>Explore Now</p> -->
									<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
								</div>
								<!-- <div class="srch srch1">
									<span>-50%</span>
								</div> -->
							</div>
						</div>
						<div class="col-md-4 product-left p-left">
							<div class="product-main simpleCart_shelfItem">
								<img class="img-responsive zoom-img" src="images/p-6.png" alt="" />
								<div class="product-bottom">
									<h3>Smart Watches</h3>
									<!-- <p>Explore Now</p> -->
									<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
								</div>
								<!-- <div class="srch srch1">
									<span>-50%</span>
								</div> -->
							</div>
						</div>
						<div class="clearfix"></div>
					</div>	
				</div>	
				<!-- <div class="col-md-3 prdt-right">
					<div class="w_sidebar">
					
					</div>
				</div> -->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	
	<!--footer-starts-->
	<div class="footer">
		<div class="container">
			<div class="footer-top">
	
				<div class="col-md-6 footer-right">	
				<p></p>
					<p>© 2017 Luxury Watches. All Rights Reserved </p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--footer-end-->	

</body>
</html>